.Home-App {
  background: linear-gradient(#333, white);
  margin: auto;
  display: flex;
  flex-direction: column;
}
.Title {
  font-size: 60px;
  color: black;
  text-align: center;
  margin: 50 px 30px;
}
.Info {
  column-count: 3;
  font-family: "Lucida Sans";
  text-align: justify;
  margin: 25px;
}
