.Login-title {
  border-radius: 5px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.25rem;
  padding-bottom: 50px;
}

.Login-Form {
  margin: auto;
  margin-top: 100px;
  padding: 5rem;
  width: 35rem;
  background-color: #2c2c2c;
  border-radius: 17px;
  box-shadow: 1px 0px 3px 0px #cbcbcb;
  display: flex;
  flex-direction: column;
}
.Login-Group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
.Login-Field {
  border: 1px solid #00ddeb;
  border-radius: 100px;
  color: #fff;
  font-size: 1.2rem;
  padding: 2rem 1rem;
  transition: all 0.2s linear;
  background: #3c3c3c;
}

.Login-Field:focus {
  box-shadow: 0 0 7px rgba(13, 21, 48, 0.9);
  border-color: #af40ff;
  outline: none;
}

.Login-Btn {
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: #fff;
  padding: 16px !important;
  margin-bottom: 15px;
  border-radius: 100px;
}
.Login-Btn:focus {
  outline: none;
}
.Login-Btn:hover {
  background: linear-gradient(144deg, #1e1e1e, 20%, #1e1e1e 50%, #1e1e1e);
  color: rgb(255, 255, 255);
  padding: 16px !important;
  cursor: pointer;
  transition: all 0.4s ease;
}

.Login-Error {
  color: #5b42f3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Login-Link {
  color: white;
  padding: 0 1rem;
  text-decoration: none;
}
