body {
  background-color: #f4f4f9;
  font-family: "Arial", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h1 {
  color: #0d613e;
}
p {
  color: #252222;
  font-size: large;
  padding: 2rem;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #0d613e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #21bb80;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  text-decoration: none;
  background: #e3e5d7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e3e5d7;
}

li {
  float: left;
}

li a {
  display: block;
  color: #0d613e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #aabf9e;
}

p a {
  color: #0d613e;
}
